@{ 
    ViewBag.title = "Đăng Nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">Đăng Nhập Tài Khoản</h2>

<div class="container" style="max-width:400px">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label>Tài khoản:</label>
            <input type="text" name="taiKhoan" class="form-control" required />
        </div>

        <div class="form-group">
            <label>Mật khẩu:</label>
            <input type="password" name="matKhau" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-success btn-block">Đăng nhập</button>

        <p class="text-danger mt-2">@ViewBag.ThongBao</p>
    }
</div>
