@model IEnumerable<WebApplication1.Models.NHAXUATBAN>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @Html.ActionLink(item.TenNXB, "SachTheoNXB", "Home", new { id = item.MaNXB }, null)
        </li>
    }
</ul>
