@model IEnumerable<WebApplication1.Models.SACH>
@{
    ViewBag.Title = "Sách theo nhà xuất bản " + ViewBag.TenNXB;
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2>@ViewBag.TenNXB</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="~/Content/Hinh/@item.AnhBia" class="card-img-top" alt="@item.TenSach" style="height:200px;object-fit:cover;" />
                <div class="card-body">
                    <h5 class="card-title">@item.TenSach</h5>
                    <p class="card-text text-danger">@String.Format("{0:0,0} VNĐ", item.GiaBan)</p>
                </div>
            </div>
        </div>
    }
</div>
